#banner {
  min-height: 80vh;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(black, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cta {
    a {
      background-color: black;
      color: white;
      font-size: 1.2rem;
      padding: 1rem 3rem;
      cursor: pointer;
    }
  }
}

// trending
#trending {
  padding: 2rem 0rem;
  .trend-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    .trend-unit {
      min-height: 500px;
      display: block;
      background-color: blue;
      background-image: url("../images/shirts/thumb.jpg");
      background-size: cover;
      background-position: top center;
      &:nth-child(1) {
        background-image: url("../images/shoes/thumb.jpg");
      }
      &:nth-child(2) {
        background-image: url("../images/hoodies/thumb.jpg");
      }

      &:nth-child(3) {
        background-image: url("../images/shirts/thumb.jpg");
      }
    }
  }
}

// brands
#brands {
  min-height: 400px;
  padding: 2rem 0rem;
  .brand-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    grid-gap: 20px;
    .brand-unit {
      background-size: cover;
      background-position: center;
      &:nth-child(1) {
        background-image: url("../images/logo/drmartens.jpg");
      }
      &:nth-child(2) {
        background-image: url("../images/logo/ellese.jpg");
      }

      &:nth-child(3) {
        background-image: url("../images/logo/nike.jpg");
      }

      &:nth-child(4) {
        background-image: url("../images/logo/northface.jpg");
      }
    }
  }
}

@media (max-width: 800px) {
  #brands .brand-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  #banner {
    background-image: Url("../images/banner-small.jpg");
    .overlay a {
      font-size: 1rem;
    }
  }

  #trending .trend-wrapper {
    display: block;
    .trend-unit {
      min-height: 300px;
      margin-bottom: 1rem;
    }
  }
}
