* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.container {
  width: 1200px;
  margin: 0 auto;
  max-width: 80%;
}

.title {
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

@media (max-width: 500px) {
  .title {
    font-size: 2.5rem;
  }
}
#navigation .container {
  padding: 2rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#navigation .form-wrapper {
  flex: 1;
}
#navigation input {
  border: 1px solid black;
  width: 100%;
}
#navigation .links {
  display: flex;
  align-items: center;
  flex: 1;
}
#navigation .search {
  flex: 1;
  margin: 0rem 1rem;
}
#navigation .search input {
  width: 100%;
  padding: 0.5rem 0rem;
  font-size: 1.2rem;
  text-indent: 20px;
  font-size: 1.2rem;
  border-radius: 50px;
  outline: none;
}
#navigation a h1 {
  font-size: 2.2rem;
}
#navigation .links a {
  display: inline-block;
  margin-left: 1rem;
  font-size: 1.4rem;
}
#navigation .menu {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}
#navigation .close {
  display: none;
  color: white;
  font-size: 2.5rem;
  cursor: pointer;
}

@media (max-width: 900px) {
  #navigation a h1 {
    font-size: 1.8rem;
  }
  #navigation .links.active {
    transform: translateX(0%);
  }
  #navigation .form-wrapper {
    flex: 0;
    margin-bottom: 1rem;
  }
  #navigation .links {
    position: fixed;
    z-index: 9000;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: all ease-in-out 300ms;
  }
  #navigation .links a {
    color: white;
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
  #navigation .links .close {
    display: block;
    position: absolute;
    top: 20px;
    right: 40px;
  }
  #navigation .menu {
    display: block;
  }
}
#store {
  min-height: 90vh;
  padding-bottom: 2rem;
}
#store .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
#store .container .thumb-unit {
  text-align: center;
  min-height: 150px;
}
#store .container .thumb-unit img {
  width: 100%;
  margin-bottom: 0.8rem;
}
#store .container .thumb-unit p {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

@media (max-width: 800px) {
  #store .title {
    font-size: 2rem;
  }
  #store .container {
    grid-template-columns: repeat(3, 1fr);
  }
  #store .container .thumb-unit p {
    font-size: 0.8rem;
  }
}
@media (max-width: 500px) {
  #store .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
#item {
  min-height: 70vh;
  padding-bottom: 2rem;
}

.content-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.content-wrapper img {
  width: 100%;
}
.content-wrapper .image-wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 10px;
}
.content-wrapper .image-wrapper .thumb-unit {
  cursor: pointer;
  margin-bottom: 0.2rem;
}
.content-wrapper .text-wrapper .name {
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 0.8rem;
}
.content-wrapper .text-wrapper .price {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}
.content-wrapper .text-wrapper .slug {
  font-size: 1rem;
  margin-bottom: 0.8rem;
}
.content-wrapper .text-wrapper label {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
  display: block;
}
.content-wrapper .text-wrapper select {
  display: block;
  width: 200px;
  font-size: 1.2rem;
  padding: 0.4rem;
  margin-bottom: 0.8rem;
}
.content-wrapper .text-wrapper .button-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.content-wrapper .text-wrapper .button-wrapper button,
.content-wrapper .text-wrapper .button-wrapper a {
  display: block;
  background-color: black;
  color: white;
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
}
.content-wrapper .text-wrapper .button-wrapper a {
  background-color: #2c662c;
  display: none;
}
.content-wrapper .text-wrapper .button-wrapper a.active {
  display: block;
}

@media (max-width: 960px) {
  .content-wrapper {
    display: block;
  }
  .content-wrapper .image-wrapper {
    margin-bottom: 1.8rem;
  }
}
@media (max-width: 500px) {
  .content-wrapper .text-wrapper .button-wrapper {
    display: block;
  }
  .content-wrapper .text-wrapper .button-wrapper button {
    display: block;
    width: 100%;
    margin-bottom: 0.8rem;
  }
}
#banner {
  min-height: 80vh;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
#banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
#banner .cta a {
  background-color: black;
  color: white;
  font-size: 1.2rem;
  padding: 1rem 3rem;
  cursor: pointer;
}

#trending {
  padding: 2rem 0rem;
}
#trending .trend-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
#trending .trend-wrapper .trend-unit {
  min-height: 500px;
  display: block;
  background-color: blue;
  background-image: url("../images/shirts/thumb.jpg");
  background-size: cover;
  background-position: top center;
}
#trending .trend-wrapper .trend-unit:nth-child(1) {
  background-image: url("../images/shoes/thumb.jpg");
}
#trending .trend-wrapper .trend-unit:nth-child(2) {
  background-image: url("../images/hoodies/thumb.jpg");
}
#trending .trend-wrapper .trend-unit:nth-child(3) {
  background-image: url("../images/shirts/thumb.jpg");
}

#brands {
  min-height: 400px;
  padding: 2rem 0rem;
}
#brands .brand-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
  grid-gap: 20px;
}
#brands .brand-wrapper .brand-unit {
  background-color: black;
}
#brands .brand-wrapper .brand-unit:nth-child(1) {
  background-image: url("../images/logo/drmartens.jpg");
}
#brands .brand-wrapper .brand-unit:nth-child(2) {
  background-image: url("../images/logo/ellese.jpg");
}
#brands .brand-wrapper .brand-unit:nth-child(3) {
  background-image: url("../images/logo/nike.jpg");
}
#brands .brand-wrapper .brand-unit:nth-child(4) {
  background-image: url("../images/logo/northface.jpg");
}

@media (max-width: 800px) {
  #brands .brand-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  #banner {
    background-image: Url("../images/banner-small.jpg");
  }
  #banner .overlay a {
    font-size: 1rem;
  }

  #trending .trend-wrapper {
    display: block;
  }
  #trending .trend-wrapper .trend-unit {
    min-height: 300px;
    margin-bottom: 1rem;
  }
}
#cart {
  min-height: 70vh;
  padding-bottom: 2rem;
}
#cart .container {
  width: 540px;
  max-width: 90%;
}
#cart h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
#cart .button-wrapper button {
  display: block;
  background-color: black;
  width: 100%;
  padding: 1rem;
  color: white;
  font-size: 1.2rem;
}
#cart .cart-unit {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  position: relative;
  margin-bottom: 1rem;
}
#cart .cart-unit .name {
  font-size: 1.2rem;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}
#cart .cart-unit .price {
  font-size: 1.5rem;
}
#cart .cart-unit i {
  color: red;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 1.2rem;
}
#cart .cart-unit img {
  width: 100%;
}

#footer {
  background-color: black;
  color: white;
  padding: 2rem 0rem;
}
#footer .socials {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}
#footer .socials i {
  margin-right: 1rem;
  color: white;
}
#footer .text-wrapper {
  text-align: center;
  font-size: 1.2rem;
}
#footer .text-wrapper .slug {
  margin-bottom: 1rem;
}
#footer .footer-wrapper {
  padding: 2rem 0rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
#footer .footer-wrapper .footer-title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
#footer .footer-wrapper ul li {
  margin-bottom: 0.8rem;
  font-size: 1rem;
}

@media (max-width: 800px) {
  #footer .socials {
    text-align: left;
  }

  #footer .text-wrapper {
    text-align: left;
    line-height: 1.2;
  }

  #footer .footer-wrapper {
    display: block;
  }
  #footer .footer-wrapper .footer-unit {
    margin-bottom: 1rem;
  }
}/*# sourceMappingURL=styles.css.map */